@use "map"
@use "components/PopupContent"
@use "components/Breadcrumbs"
@use "ListPage"

#osmAttribution
  max-width: 400px

html, body
  margin: 0
  height: 100%
  width: 100%

#app
  width: 100%

#logo
  height: 40px
  width: 40px
  margin: 4px 4px

.white-text
  color: white

.muted-text
  color: #999

  a
    color: #7a7a7a

  a:hover
    color: #525151
