name: Test

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ["latest"]

    steps:
      - uses: actions/checkout@v6

      - name: use node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: npm install, build, lint, and test
        run: |
          npm i
          npm run lint
          npm run build
