name: Update

on:
  schedule:
    - cron: "12 5 * * *"
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "npm"

      - name: npm install
        run: npm install

      - name: collect and lint
        run: |
          npm run collect
          npm run lintData

      - uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: updated the data
